.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 15px;
    -fx-background-color: #f9f9f9;
}

.label {
    -fx-text-fill: #333333;
}

.text-field, .password-field {
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10;
}

/* Botón con degradado */
.button {
    -fx-background-color: linear-gradient(to right, #2b6cb0, #00bfff);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 10 24;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.3, 0, 1);
    -fx-border-color: transparent;
}

/* Hover con inversión de colores del degradado */
.button:hover {
    -fx-background-color: linear-gradient(to right, #00bfff, #2b6cb0);
}

.table-view {
    -fx-border-color: #ddd;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 10;
}

.button-cancel {
    -fx-background-color: linear-gradient(to right, #e53935, #ff6b6b);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 10 24;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.3, 0, 1);
    -fx-border-color: transparent;
}

.button-cancel:hover {
    -fx-background-color: linear-gradient(to right, #ff6b6b, #e53935);
}
